
/* Variables */

:root {

    /* Color Palette */

    --clr-pale-blue: hsl(225, 100%, 94%);
    --clr-bright-blue: hsla(245, 75%, 52%, 1);
    --clr-bright-blue-hover: hsla(245, 75%, 52%, 80%);
    --clr-very-pale-blue: hsl(225, 100%, 98%);
    --clr-desaturated-blue: hsl(224, 23%, 55%);
    --clr-dark-blue: hsl(223, 47%, 23%);

    /* Fonts */

    --ff: 'Red Hat Display', sans-serif;
    --fs-small: 16px;
    --fs-big: 28px;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-black: 900;

    /* Other */

    --shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);

}

/* Global Attributes */

html {
    box-sizing: border-box;
    background: var(--clr-pale-blue);
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: var(--ff);
    background: url(images/pattern-background-desktop.svg);
    background-repeat: repeat-x;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Card Styling */

.card {
    grid-area: card;
    width: clamp(300px, 90vw, 450px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    overflow: hidden; 
    border-radius: 20px;
    box-shadow: var(--shadow);
    margin: 25px auto;
}

.card__description {
    padding: 0 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description__tittle {
    text-align: center;
    font-weight: var(--fw-black);
    font-size: var(--fs-big);
    margin: 2.5rem 0 1.25rem 0;
    color: var(--clr-dark-blue);
}

.description__paragraph {
    font-weight: var(--fw-medium);
    font-size: var(--fs-small);
    text-align: center;
    color: var(--clr-desaturated-blue);
    width: 90%;
    margin-top: 0;
    margin-bottom: 2rem;
}

.card__product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    padding: 1.25em 1.5em; 
    background: var(--clr-very-pale-blue);
    border-radius: 10px;
    margin-bottom: 1rem;
}

.product__first-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.first-container__icon {
    margin-right: 15px;
}

.second-container__duration {
    margin: 0;
    font-size: var(--fs-small);
    font-weight: var(--fw-bold);
    color: var(--clr-dark-blue);
}

.second-container__price {
    margin: 0;
    font-size: var(--fs-small);
    font-weight: var(--fw-medium);
    color: var(--clr-desaturated-blue);
}

.product__change-link {
    margin-left: 15px;
    font-weight: var(--fw-medium);
    transition: all 100ms;
}

.product__change-link:link {
    color: var(--clr-bright-blue);
}

.product__change-link:hover {
    color: var(--clr-bright-blue-hover);
    text-decoration: none;
}

.card__button {
    display: inline-block;
    text-align: center;
    font-weight: var(--fw-bold);
    margin-top: 1.5rem;
    text-decoration: none;
    padding: .75em 0;
    width: 80%;
    border-radius: 10px;
    transition: all 150ms;
}

.card__button--first {
    background: var(--clr-bright-blue);
    color: white;
    box-shadow: var(--shadow);
}

.card__button--first:hover {
    transform: scale(1.1);
}

.card__button--first:active {
    opacity: 0.85;
}

.card__button--second {
    color: var(--clr-desaturated-blue);
    margin-bottom: 2.5rem;
}

.card__button--second:hover {
    color: var(--clr-dark-blue);
}

.card__button--second:active {
    opacity: 0.8;
}

/* Media Queries. Only used to make flexbox work properly on card__product */

@media (max-width: 378px) {
    .card__product {
        justify-content: center;
    }

    .product__change-link {
        margin-top: 15px;
    }
}