
/* Variables */

:root {

    /* Color Palette */

    --clr-pale-blue: hsl(225, 100%, 94%);
    --clr-bright-blue: hsl(245, 75%, 52%);
    --clr-very-pale-blue: hsl(225, 100%, 98%);
    --clr-desaturated-blue: hsl(224, 23%, 55%);
    --clr-dark-blue: hsl(223, 47%, 23%);

    /* Fonts */

    --ff: 'Red Hat Display', sans-serif;
    --fs-small: 16px;
    --fs-big: 24px;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-black: 900;

}

/* Global Attributes */

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: var(--ff);
    background: url(/images/pattern-background-desktop.svg);
    background-repeat: repeat-x;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Card Styling */